body
{
	background-color: black;
	color: white;
	font-family: "Times New Roman";
	font-size: 16pt;
}
h1
{
	font-family: Arial;
}
th
{
    text-align: left;
	background-color: red;
}
table, th, td {
    border: 2px solid white;
	font-size: 18pt;
}

td
{
	background-color: blue;
}
img
{
	max-height: 200;
	width: auto;
}
